body{
	background:#E4FBE8 ;
	line-height: 1.8;
	letter-spacing: 1px;
}

#entête{
		font-style:initial;
		background-color: #6FCF97;
		width: 100%;
	margin:0px auto;
	padding:2px;
	text-align: center;
	border-radius:0px;

}
#entêtebis{
		font-family: 'Arimo', sans-serif;
	  text-align: center;
}
p span.gauche {
  float: left;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:15px;
 
}
p span.droite {
  float: right;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:15px;
}



#logo2{
	height:100px;
	border-radius: 0%;


}


img {    height:200px;
		border-radius: 0%;
		;
		}
#fondsaisie{height:100px;
		border-radius: 0%;



}
#saisie{
	background-image:url(image/cardrive.jpg)
	
	;
}


#go{
	background-color: #6FCF97
}

#bienvenue { margin: 0 auto;
			text-align: center;
			font-size:25px;
			padding: 3rem;
 }
 #saisie{
 	font-family: 'Arimo', sans-serif;
 }

 #deplace {
 	font-family: 'Pacifico', cursive;
 	text-align: center;
 }

 #EMV{
 	font-family: 'Pacifico', cursive;
 	font-size: px;
 }
 #easy{
 	 font-family:'Pacifico', cursive;
 	 font-size:50px

 }
.cards {
  display: flex;
	flex-wrap: wrap;

}
.my-card{
  
	margin: 10px;
	border-radius: 0%;
	
}
#carré {
	border-radius: 10%;
	height: 150px;
	size: 50px;
}

#moyendetransport {
	
	border: 1px solid black;
	width: 90%;
	border-radius: 7px;
	box-shadow: 3px 3px 20px rgb(33, 33, 33);
	text-align: left;
	padding: 15px;
	margin: 5px;
	line-height: 1.2;
}

#centretext{
	line-height: 4;

}

#textecentre{

	font-family: 'Noto Sans JP', sans-serif;
}

#titrecentre{
	font-family: 'Lobster', cursive;
}
#question{
	margin-top: 10px;
	font-family:'Pacifico', cursive;
	text-align: center;

}
#partenaire {
	
	border: 1px solid black;
	width: 90%;
	border-radius: 7px;
	box-shadow: 3px 3px 20px rgb(33, 33, 33);
	text-align: right;
	padding: 15px;
	margin: 35px;
	line-height: 1.2;

}

#transitionecolo{
	border: 1px solid black;
	width: 90%;
	border-radius: 7px;
	box-shadow: 3px 3px 20px rgb(33, 33, 33);
	text-align: left;
	padding: 15px;
	margin: 2px;
	line-height: 1.2;

}

#texttop{

	font-family: 'Lobster', cursive;
}

#facebook{   
	 height: 50px;
	 border-radius: 30% }
.mybanner{
	background-image: linear-gradient(rgba(100,100,100,0.5),rgba(200,200,200,0.6)),url('image/cardrive.jpg');
	background-size: cover;
	background-position: center;

	height: 60vh;


}

#start-input{
	border-radius: 5px 0 0 5px;

}
.my-input{
	border:none;
	border-right:1px solid gray;
	padding-left:0.5rem;
}